@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: aliceblue;
  background-image: url('/home-bg.jpg');
    background-size: cover;
    min-height: 100vh;
}

#plant {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: transparent
}
#plant {
  perspective: 100px;
  transform: scale(50%);
}
.info {
  margin: 20px;
  padding: 0px 20px;
  background-color: #ccc;
  display: inline-block;
}
.trunk,
.trunk div {
  background: #0bd354;
  will-change: transform;
  width: 25vmin;
  height: 2.5vmin;
  position: absolute;
  margin-left: -2.5vmin;
  animation-name: rot;
  animation-duration: 2.26562s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 1.25vmin 1.25vmin;
  animation-timing-function: ease-in-out;
}
.trunk.trunk,
.trunk div.trunk {
  bottom: 0;
  left: 50%;
  animation-name: rot-root;
  animation-duration: 2.46428s;
}
.trunk >div,
.trunk div >div {
  top: 0;
  left: 25vmin;
  animation-duration: calc((inherit / 2));
}
.trunk >div:nth-child(2),
.trunk div >div:nth-child(2) {
  animation-name: rot-inv;
  animation-duration: 1.777351213486541s;
}
@-moz-keyframes rot {
  from {
    transform: rotate(15deg) scale(0.72);
  }
  to {
    transform: rotate(45deg) scale(0.72);
  }
}
@-webkit-keyframes rot {
  from {
    transform: rotate(15deg) scale(0.72);
  }
  to {
    transform: rotate(45deg) scale(0.72);
  }
}
@-o-keyframes rot {
  from {
    transform: rotate(15deg) scale(0.72);
  }
  to {
    transform: rotate(45deg) scale(0.72);
  }
}
@keyframes rot {
  from {
    transform: rotate(15deg) scale(0.72);
  }
  to {
    transform: rotate(45deg) scale(0.72);
  }
}
@-moz-keyframes rot-inv {
  from {
    transform: rotate(-45deg) scale(0.72);
  }
  to {
    transform: rotate(-15deg) scale(0.72);
  }
}
@-webkit-keyframes rot-inv {
  from {
    transform: rotate(-45deg) scale(0.72);
  }
  to {
    transform: rotate(-15deg) scale(0.72);
  }
}
@-o-keyframes rot-inv {
  from {
    transform: rotate(-45deg) scale(0.72);
  }
  to {
    transform: rotate(-15deg) scale(0.72);
  }
}
@keyframes rot-inv {
  from {
    transform: rotate(-45deg) scale(0.72);
  }
  to {
    transform: rotate(-15deg) scale(0.72);
  }
}
@-moz-keyframes rot-root {
  from {
    transform: rotate(-95deg);
  }
  to {
    transform: rotate(-85deg);
  }
}
@-webkit-keyframes rot-root {
  from {
    transform: rotate(-95deg);
  }
  to {
    transform: rotate(-85deg);
  }
}
@-o-keyframes rot-root {
  from {
    transform: rotate(-95deg);
  }
  to {
    transform: rotate(-85deg);
  }
}
@keyframes rot-root {
  from {
    transform: rotate(-95deg);
  }
  to {
    transform: rotate(-85deg);
  }
}


